name: Update MSRV

on:
  push: 
    branches:
      - "master"

jobs:
  update_msrv: 
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use cached dependencies
        uses: Swatinem/rust-cache@v2

      - name: Download cargo-msrv
        run: cargo install cargo-msrv
      
      - name: Pre-check
        run: cargo check 

      - name: Get MSRV
        run: echo "MSRV=$(cargo msrv find --output-format json --min 1.70 | tail -n 1 | jq '. | .result.version' --raw-output)" >> $GITHUB_ENV

      - name: Update badge
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 87883f70db3cf998342786f65fe1b9df
          filename: rss2email_msrv.json
          label: MSRV
          message: ${{ env.MSRV }}
          color: 32ca55
          labelColor: 353d46
