name: Create a release
on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release
        required: true
        type: string

jobs:
  publish:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use cached dependencies
        uses: Swatinem/rust-cache@v2
        with:
          key: "ubuntu-22.04-aarch64-unknown-linux-gnu-${{ hashFiles('**/Cargo.lock') }}"
          shared-key: "shared"

      - name: Prepare
        run: |
          cargo install cargo-release

          touch .env
          touch feeds.txt

          pip3 install ziglang
          cargo install cargo-zigbuild
        
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker - x86
        run: |
          docker build -t rss2email:${{ inputs.version }} --build-arg compile_flag="--features aws-lambda" -f Dockerfile.x86 .
          docker push antoniosbarotsis/rss2email:${{ inputs.version }}
